In [1]:
%matplotlib inline
import pandas as pd

In [2]:
titles = pd.read_csv('titles.csv')
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

### How many movies are listed in the titles dataframe?

In [3]:
count=titles["title"].count()
print("No of movies uis equal to:",count)

No of movies uis equal to: 244914

### What are the earliest two films listed in the titles dataframe?

In [40]:
titles.sort_values(by=["year"]).head(2)

                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [5]:
count=0
for i in titles["title"]:
    if("Hamlet" in i ):
        count=count+1
print("Number of movies having Hamlet as its title is: ",count)

Number of movies having Hamlet as its title is:  57

### How many movies are titled "North by Northwest"?

In [6]:
count=0
for i in titles["title"]:
    if("North by Northwest" in i ):
        count=count+1
print("Number of movies having North by Northwest as its title is: ",count)

Number of movies having North by Northwest as its title is:  1

### When was the first movie titled "Hamlet" made?

In [7]:
s=titles.sort_values(by=["year"])
for i in s.index:
    if("Hamlet" in s["title"][i] ):
        
        print("the first movie titled Hamlet was made on: ",s["year"][i])
        break

the first movie titled Hamlet was made on:  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [8]:
d1={}

for i in s.index:
    if("Treasure Island" in s["title"][i] ):
        d1[s["title"][i]]=s["year"][i]
print("The list of Treasure Island movies are:",  d1)

The list of Treasure Island movies are: {'Treasure Island': 1999, 'The Secret of Treasure Island': 1938, 'Charlie Chan at Treasure Island': 1939, 'Return to Treasure Island': 1954, 'Five on a Treasure Island': 1957, 'Muppet Treasure Island': 1996, 'Treasure Island (II)': 1999, 'Treasure Island Kids: The Battle of Treasure Island': 2006, 'Treasure Island Kids: The Mystery of Treasure Island': 2006, 'Treasure Island Kids: The Monster of Treasure Island': 2006, 'Pirates of Treasure Island': 2006, 'National Theatre Live: Treasure Island': 2015}

### How many movies were made in the year 1950?

In [9]:
count=0
for i in titles["year"]:
    if(i==1950):
        count +=1
print("Number of movies made in 1950 are: ",  count)

Number of movies made in 1950 are:  1113

### How many movies were made in the year 1960?

In [10]:
count=0
for i in titles["year"]:
    if(i==1960):
        count +=1
print("Number of movies made in 1960 are: ",  count)

Number of movies made in 1960 are:  1549

### How many movies were made from 1950 through 1959?

In [11]:
count=0
for i in titles["year"]:
    if(i>=1950 and i<=1959):
        count +=1
print("Number of movies made from 1950 to 1959 are: ",  count)

Number of movies made from 1950 to 1959 are:  12934

### In what years has a movie titled "Batman" been released?

In [12]:
print("Batman movies were released on :")
l1=[]
l2=[]
for i in s.index:
    if("Batman" in s["title"][i]):
        l1.append(s["year"][i])
for i in l1:
    if i not in l2:
        l2.append(i)
print(l2)

Batman movies were released on :
[1943, 1949, 1964, 1965, 1966, 1967, 1973, 1989, 1991, 1992, 1993, 1995, 1997, 2005, 2010, 2012, 2014, 2016, 2017, 2018]

### How many roles were there in the movie "Inception"?

In [13]:
cast=pd.read_csv("cast.csv")

In [14]:
n=cast[cast["title"]=='Inception'].shape[0]
print("Number of roles in inception is equal to: ",n)

Number of roles in inception is equal to:  78

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [15]:
count=0
inc=cast[cast["title"]=='Inception']
for i in inc.index:
    if(pd.isna(inc["n"][i])):
        count +=1
        
print(count)

27

### But how many roles in the movie "Inception" did receive an "n" value?

In [16]:
count1=0
inc=cast[cast["title"]=='Inception']
for i in inc.index:
    if(pd.isna(inc["n"][i])):
        count +=1
    else:
        count1 +=1
        
print(count1)

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [17]:
nbn=cast[cast["title"]=="North by Northwest"].sort_values(by="n")
for i in nbn.index:
    if(pd.notna(nbn["n"][i])):
        print(nbn["name"][i])

Cary Grant
Eva Marie Saint
James Mason
Jessie Royce Landis
Leo G. Carroll
Josephine Hutchinson
Philip Ober
Martin Landau
Adam Williams
Edward Platt
Robert Ellenstein
Les Tremayne
Philip Coolidge
Patrick McVey
Edward Binns
Ken Lynch

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [18]:
s=cast[cast["title"]=="Sleuth"] 
s[s["year"]==1972].sort_values(by="n")

,title,year,name,type,character,n
1705394,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
326773,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
373876,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1465483,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2724553,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1448690,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [19]:
s=cast[cast["title"]=="Sleuth"] 
s[s["year"]==2007].sort_values(by="n")

          title  year                 name     type          character    n
326774   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1293634  Sleuth  2007             Jude Law    actor               Milo  2.0
1805907  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
260242   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
373877   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2724552  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3370424  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [20]:
s=cast[cast["title"]=="Hamlet"] 
s1=s[s["year"]==1921]
s1["character"].count()

9

### How many roles were credited in Branaghâ€™s 1996 Hamlet?

In [21]:
s=cast[cast["title"]=="Hamlet"] 
s[s["year"]==1996].shape[0]

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [22]:
s["character"].count()

342

### How many people have played an "Ophelia"?

In [23]:
cast[cast["character"]=="Ophelia"].shape[0]

117

### How many people have played a role called "The Dude"?

In [24]:
cast[cast["character"]=="The Dude"].shape[0]

19

### How many people have played a role called "The Stranger"?

In [25]:
cast[cast["character"]=="The Stranger"].shape[0]

212

### How many roles has Sidney Poitier played throughout his career?

In [26]:
cast[cast["name"]=="Sidney Poitier"].shape[0]

43

### How many roles has Judi Dench played?

In [27]:
cast[cast["name"]=="Judi Dench"].shape[0]

55

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [28]:
z=cast[cast["name"]=="Cary Grant"]
z1=z[z["n"]==2]
z2=z1[z1["year"]>=1940]
z2[z2["year"]<=1949]

                   title  year        name   type    character    n
871423  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
871433    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [29]:
z=cast[cast["name"]=="Cary Grant"]
z1=z[z["n"]==1]
z2=z1[z1["year"]>=1940]
z2[z2["year"]<=1949].sort_values(by="year")

,title,year,name,type,character,n
871448,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
871407,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
871450,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
871438,Suspicion,1941,Cary Grant,actor,Johnnie Aysgarth,1.0
871452,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
871429,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
871398,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
871422,Mr. Lucky,1943,Cary Grant,actor,Joe Adams -posing as Joe Bascopolous,1.0
871430,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
871390,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
871425,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
871424,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
871427,Notorious,1946,Cary Grant,actor,Devlin,1.0
871444,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
871445,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
871421,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
871402,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
871411,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [31]:
c1=cast[cast["year"]>=1950] 
c2=c1[c1["year"]<=1959]
c2[c2["type"]=="actor"].shape[0]

157738

### How many roles were available for actresses in the 1950s?

In [32]:
c1=cast[cast["year"]>=1950] 
c2=c1[c1["year"]<=1959]
c2[c2["type"]=="actresses"].shape[0]

0

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [44]:
c2=cast[cast["year"]<=1989]
c2[c2["n"]==1].shape[0]

77288

### How many non-leading roles were available through from the beginning of film history through 1980?

In [43]:
cast[cast["n"]!=1].shape[0]

153233

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [39]:
c1=cast[cast["year"]>=1980] 
c2=c1[c1["year"]<=1989]
c2[c2["n"].isna()].shape[0]

53028