# QUESTION NUMBER 1

In [24]:
user=input("Enthe the email id: ")
a=user.find("@")
d=user.find(".")
ans=user[a+1:d]
print("THE NAME OF THE COMPANY IS: ",ans)

Enthe the email id: abhyanth@yahoo.com
THE NAME OF THE COMPANY IS:  yahoo

# QUESTION NUMBER 2

In [23]:
s=input("Enter the string: ")
l=s.split(",")
l.sort()
for i in l:
    print(i,end=",")

Enter the string: apple,lu,letsupgrade,al,ml,awesome,yeah
al,apple,awesome,letsupgrade,lu,ml,yeah,

# QUESTION NUMBER 3

In [28]:
# sets and its funtions

se={"how",1,2,3,4,5,"are",1,6,7,9,11}#unordered,unindexed collection of data types
se
bet={20,19,18,17,16,15}
het={15,20,1}
met={15}

se.add("you")#appends the element 
print(se)

sa=se.copy()#copies the set to another variable 
print(se)


print(bet.difference(het))#gives the set of elements which are there in bet but not in het in a new set



het.difference_update(bet)#similar to difference but updates het instead of creating a new set
print(het)


se.discard(11)#throws away that particular element 
print(se)



het.intersection(se)#gives us the common element between the 2 sets
het.intersection_update(se)#similar to intersection but updates het
print(het)


se.isdisjoint(het)#returns true if there is no comon element between the 2 sets else returns false



met.issubset(bet)#returns true if met has all the elements present in bet

bet.issuperset(met)

bet.pop()#pops out random elements from the set

bet.remove(16)#removes the element given by us
bet

bet.symmetric_difference(het)

bet.union(se)#combines both the set

se.update(het)#adds het to se
se

se.clear()#cleares everything

{1, 2, 3, 4, 5, 6, 7, 'you', 9, 11, 'how', 'are'}
{1, 2, 3, 4, 5, 6, 7, 'you', 9, 11, 'how', 'are'}
{16, 17, 18, 19}
{1}
{1, 2, 3, 4, 5, 6, 7, 'you', 9, 'how', 'are'}
{1}

# QUESTION NUMBER 4

In [41]:
n=int(input("Enter the n value:"))
print("Enter the numbers:")
li=[]
for i in range (0,n-1):
    a=int(input())
    li.append(a)
print("The list of numbers you have entered are : ",li)
flag=1
for i in li:
    if(flag!=i):
        print("The missing number is: ",flag)
        break
    flag +=1

Enter the n value:10
Enter the numbers:
1
2
3
4
5
6
8
9
10
The list of numbers you have entered are :  [1, 2, 3, 4, 5, 6, 8, 9, 10]
The missing number is:  7

# QUESTION NUMBER 5

In [7]:
li=[122,13,12,1,2,3,4,5,170,122,122,1,5,10,11,13,15,11,111,111,111,111]
ans2=[]
for i in li:
    if (i not in ans2):
        ans2.append(i)
print("The list after removing all the duplicate elements is:", ans2)

The list after removing all the duplicate elements is: [122, 13, 12, 1, 2, 3, 4, 5, 170, 10, 11, 15, 111]